@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,300;1,400;1,500&family=Poppins:ital,wght@0,200;0,500;0,600;0,700;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif; */
}
body {
  background-color: aliceblue;
}
.container {
  max-width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rand {
  height: 300px;
  width: 100%;
  background-color: navy;
  border-radius: 10px;
  transition-duration: 0.3s;
  cursor: pointer;
  padding: 15px;
}
.rand:hover {
  box-shadow: 0 0 5px 0 #0dcaf0;
}
.text {
  height: 80%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
h4 {
  text-align: justify;
  color: #f8f9fa;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.btn {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.btn .features {
  display: flex;
  margin-top: 3px;
  justify-content: space-between;
}

.features ul {
  display: flex;
}
.features ul li{
  list-style: none;
  display: flex;
  margin: 0 5px;
  width: 45px;
  height: 45px;
  border: solid 2px aliceblue;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: lightblue;
  cursor: pointer;
  transition: all 0.3s ease;
}
.features ul li:hover{
  color: lightblue;
  background-color: black;
}

button {
  background-color:  lightblue;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  color: #f8f9fa;
  outline: none;
  border: solid 2px aliceblue;

  text-transform: uppercase;
  padding: 10px;
  color: black;
  justify-content: space-around;
  border-radius: 25px;
  cursor: pointer;
}
button:hover{
  color: lightblue;
  border: aliceblue 2px solid;
  background-color: black;
}